<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="template2.css">
    
</head>
<body>
    <div class="template-main" id="main-form">
        <div class="header">
            <h1 >
                Judeson Leo
            </h1>
        </div>
        <div class="img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        </div>
        <div class="main">
        <div class="first">
            <div class="profile-section">
                <h3 class="heading">My contact</h3>
                <div class="links">
                    <a href="">Linkdin</a>
                    <a href="">9342942324</a>
                    <a href="">judsonleo</a>
                    <a href="">Twitter</a>
                    
                </div>
                <div class="Technical-Skills">
                    <h3 class="heading">Technical Skills</h3>
                    <div class="lists">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Node</li>
                            <li>Express</li>
                            <li>MongoDB</li>
                        </ul>
                    </div>
                </div>
                <div class="Soft-Skills">
                    <h3 class="heading">Soft Skills</h3>
                    <div class="lists">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Node</li>
                            <li>Express</li>
                            <li>MongoDB</li>
                        </ul>
                    </div>
                </div>
                <div class="education">
                    <h3 class="heading">Education Background</h3>
                    <div class="lists">
                        <ul>
                            <li>English</li>
                            <li>Hindi</li>
                            <li>Kannada</li>
                            <li>Telugu</li>
                            <li>Tamil</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="language">
                    <h3 class="heading">Language</h3>
                    <div class="lists">
                        <ul>
                            <li>English</li>
                            <li>Hindi</li>
                            <li>Kannada</li>
                            <li>Telugu</li>
                            <li>Tamil</li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="second">
            <div class="Summary">
                <h3 class="heading">Summary</h3>
                <p class="lists">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit, ipsa est, vel earum dignissimos dolor, voluptatem quas quis sint autem error nostrum rem vero facere voluptate delectus perferendis. Error?
                </p>
            </div>
            <div class="education">
                <h3 class="heading">Projects & experience</h3>
                <div class="lists">
                    <div class="projects">
                        <div class="title">

                            <h4 class="">Project 1</h4>
                            <h4>Tech Stack</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit, ipsa est, vel earum dignissimos dolor, voluptatem quas quis sint autem error nostrum rem vero facere voluptate delectus perferendis. Error?
                        </p>
                        <div class="title">

                            <h4 class="">Project 1</h4>
                            <h4>Tech Stack</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit, ipsa est, vel earum dignissimos dolor, voluptatem quas quis sint autem error nostrum rem vero facere voluptate delectus perferendis. Error?
                        </p>
                        <div class="title">

                            <h4 class="">Project 1</h4>
                            <h4>Tech Stack</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit, ipsa est, vel earum dignissimos dolor, voluptatem quas quis sint autem error nostrum rem vero facere voluptate delectus perferendis. Error?
                        </p>
                    </div>
            </div>
            
            <div class="certifications">
                <div class="certicate">
                    <h3 class="heading">
                        Certifications
                    </h3>
                    <div class="lists">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Node</li>
                            <li>Express</li>
                            <li>MongoDB</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/template/script1.js">
        
    </script>
    <script src="../script.js"></script> 
</body>
</html>