<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template1.css">
</head>
<body>
    <div class="template-main">
        <div class="first">
            <div class="img">

            </div>
            <div class="profile-section">
                <div class="name">
                    
                </div>
                <div class="links">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
                <div class="about">

                </div>
                <div class="skills">

                </div>
                <div class="language">

                </div>
                
            </div>
        </div>
        <div class="second">
            <div class="summary">

            </div>
            <div class="education">

            </div>
            <div class="technical-skills">

            </div>
            <div class="projects">

            </div>
            <div class="certifications">
                
            </div>
        </div>
    </div>
</body>
</html>